<!-- Navbar -->

<div class="navbar navbar-expand-lg fixed-top" [ngStyle]="navbg">
  <div class="container-fluid">
    <a href="#" class="navbar-brand text-danger fw-bold" routerLink="">MOVİE SİTE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <i class="fa-solid fa-bars-staggered"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="" class="nav-link active text-danger fw-bold" routerLink="">HOME</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link text-danger fw-bold" routerLink="search">SEARCH</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>