.carousel-inner {
    height: 700px;
    .carousel-item img {
        height: 700px;
        object-fit: cover;
    }
}

.rowposter {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    .rowimg {
        max-height: 200px;
        max-width: auto;
        object-fit: contain;
        box-sizing: content-box;
        transition: transform .5s;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }

    // .largeposter {
    //     max-height: 300px;
    // }
}